.container .title{
    color:#FF2E63;
    font-size: 2.5rem;
    text-align: center;
    justify-content: center;
    margin:  2rem 0 2rem;
  
}

.title .query_text {
    color:#8D99AE ;
}

 .movies-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    max-width:  1200px;
    margin: 0 auto;
}
.container{
    margin-left: 1rem;
}

.movies-container div{
        width: 30%;
        color:#F5F5F5 ;
        margin-bottom:2.5rem ;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color:  #292c58;
        padding: 1rem;
}


.movies-container div img{
    max-width: 100%;
}


.movies-container div img,
.movies-container div p,
.movies-container div h2 {
    margin-bottom: 1rem;
}
.movies-container div svg {
    color:#FFD700 ;

}


.movies-container div a {
    background-color: #5875ac;
    padding: 1rem 0.5rem;
    border: 1px solid  black;
    border-radius: 5px;
    color:#121212;
    font-size: 1.3rem;
    display: flex;
    transform: 0.4;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

 

.movies-container div a:hover{
    background-color: #25274D;
    color: #F5F5F5;
    border-color:black ;
}
